<div id="title">
	<h1>{{title}}</h1>
	<hr>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>
</div>

<article class="about">
	<h2>Sobre mi <hr></h2>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut commodo sem. Nullam facilisis viverra nulla, sit amet facilisis augue viverra sed. Proin vitae nisl blandit lectus varius imperdiet. Phasellus semper nisi id diam sagittis convallis. Integer semper varius volutpat. Suspendisse et scelerisque urna. Morbi vulputate velit porttitor magna faucibus, eu fermentum lectus mattis. Maecenas laoreet dictum tortor, non scelerisque ipsum gravida id. Maecenas ac dignissim velit. Morbi at molestie ante. Aliquam gravida magna ipsum, ut dictum turpis sollicitudin eu. Nunc interdum justo odio, vitae efficitur tellus efficitur ac. Suspendisse ultrices magna purus.</p>
</article>